.header{
    border: 2px solid black;
    text-align: center;   
    background-color: rgba(0, 255, 255, 0.377);
}
.footer{
    text-align: end;
    border: 2px solid black;
    background-color: rgba(0, 255, 255, 0.377);
}
.gameBoard{
    width: 1080px;
    height: 720px;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-content: center;
    font-size: 24px;
}
input:invalid{
    border: 2px dashed red;
}
input:valid{
    border: 2px solid black;
}
#result{
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}